CHAIN_ID=421614
RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
TOKEN_ADDRESS=0x75faf114eafb1BDbe2F0316DF893fd58CE46AA4d
TOKEN_NAME=USD Coin
TOKEN_VERSION=2
PRICE_BASE_UNITS=10000
MERCHANT_PRIVATE_KEY=
PAYER_PRIVATE_KEY=
MERCHANT_ADDRESS=
MPP_SECRET=
MPP_REALM=localhost
MERCHANT_URL=https://localhost:3000
PORT=3000
TLS_CERT=.local/tls/cert.pem
TLS_KEY=.local/tls/key.pem
TLS_CA=.local/tls/cert.pem
PRIVATE_KEY=
